<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
    <connectionStrings>
      <add name="GoogleApiKey" connectionString="AIzaSyDRq_oc_6qVKeHZfx_1xGsUxHCvo_ImjHU" />
      <add name="BingApiKey" connectionString="4WyUgJrfJs6mUFdHIxLo~G10Sp2WV4T2IfSSDg-06Lg~Atie0Ai6iCLugFhXfZ9WMgITA6i1D4lsS89qFXS26ID9tmGmwD563f39AVQVgonZ" />
    </connectionStrings>
</configuration>